<html>
<body>
<div id="app">
    <router-view></router-view>
</div>
<h1>
    {{ .title }}
</h1>
<!--<script>-->
    <!--var wsPort = {-->
    <!--{.-->
        <!--wsPort-->
    <!--}-->
    <!--}-->
<!--</script>-->
<!--<script src="/static/js/vue/vue.min.js"></script>-->
<!--<script src="/static/js/vue/vue-resource.min.js"></script>-->
<!--<script src="/static/js/vue/vue-router.min.js"></script>-->
<!--<script src="/static/view/lib.js"></script>-->
<script src="/static/view/panel.js"></script>
</body>
</html>