<div>
    <div id="player-grid" class="col s24" style="position: relative;left: 290px">
        <div class="row" v-for="player in playerArr" style="display: inline-block;margin: 0">
            <div class="col s12">
                <div class="card small" style="width:300px;height: 300px">
                    <i class="material-icons left waves-effect waves-block waves-light"
                       @click="onPickPlayer(player.id)">playlist_add</i>
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{player.avatar}}">
                    </div>
                    <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">{{player.name}}
                                <i class="material-icons right" @click="onEdit(player.id,$event)">mode_edit</i></span>
                        本轮得分:{{player.curFtScore}}
                        总分:{{player.ftScore}}
                        id:{{player.id}}
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">战绩<i
                                class="material-icons right">close</i></span>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


