<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper indigo">
            <ul class="left hide-on-med-and-down" style="display: block">
                <li :class="{active: active === ''}">
                    <router-link :to="{ name: 'home'}">Home</router-link>
                </li>
                <li :class="{active: active === 'player'}">
                    <router-link :to="{ name: 'player'}">玩家管理</router-link>
                </li>
                <li :class="{active: active === 'game'}">
                    <router-link :to="{ name: 'game'}">比赛管理</router-link>
                </li>
                <li :class="{active: active === 'rank'}">
                    <router-link :to="{ name: 'rank'}">天梯排名</router-link>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li :class="{active: active === 'setting'}">
                    <router-link :to="{ name: 'setting'}">setting</router-link>
                </li>
            </ul>
        </div>
    </nav>
</div>
